<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net472" />
  <package id="Nehta.VendorLibrary.Common" version="4.2.1" targetFramework="net472" />
  <package id="Nehta.VendorLibrary.HI" version="1.7.0" targetFramework="net472" />
</packages>